@import '../config/variables';

$icon-size: 3rem;
$table-icon-size: 3rem;
$table-z: 100;
$th-padding: .75rem;

.item {
	flex: 0 1;
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0 .5rem;
	font-size: $icon-size;
}

.item-img {
	// font-size: $icon-size;
	font-size: inherit;
	max-height: 1em;
	max-width: 1em;
	&.tiny {
		font-size: $icon-size/2;
		opacity: 0.6;
	}
}

.items-container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	font-size: 2rem;
}
.base-select-panel {
	display: flex;
	flex-direction: row;
	max-height: 8rem;
	padding: 1rem 1rem 1rem 2rem;
	.container {
	}
}
.items-row {
	width: 100%;
	padding: 1rem;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin: 0 auto;
}

// Inventory ==============================
.inventory {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

// Combos ===================================
.combos {
	min-height: 2rem;
	.items-container {
		flex-wrap: wrap;
	}
}
.combo-item {
	.help {
		font-size: 0.8rem;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1.25;
		text-align: center;
		color: $fg-secondary;
	}
}

// Table ==============================
.item-table {

	%inactive-item {
		opacity: 0.2;
	}
	%active-item {
		opacity: 1;
		z-index: $table-z+1;
		// background-color: red;
		// outline: 2px solid #e2e8f0;
		// border: 2px solid yellow;
		// box-shadow: inset 0 0 0 2px #fff;
	}

	.head-row th {
		padding-top: $th-padding;
		// padding-right: 1rem;
	}
	.body-row th {
		padding-right: $th-padding;
	}

	th,
	td {
		z-index: $table-z;
		position: relative;
		padding: 2px;
	}
	td {
		// width: $icon-size*3;
		// width: $table-icon-size*3;
		width: initial;
	}

	// th:not(.is-repeat),
	// .combo-container:not(.is-repeat) {
	.combo-cell:not(.is-repeat) {
		@extend %inactive-item;
		&:hover,
		&:focus {
			// @extend %active-item;
			opacity: 0.7;
			z-index: $table-z+1;
		}

		&.possible {
			opacity: 1;
			z-index: $table-z+2;
		}
	}
	.item-img {
		// font-size: $table-icon-size;
		font-size: $icon-size;
	}

	.perk-toggle-cell {
		display: flex;
		flex-direction: row;
		// justify-content: flex-end;
		// align-items: flex-start;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding-right: $th-padding;
		color: $fg-light-secondary;
		&:hover, &:focus {
			color: $fg-light-primary;
		}
	}
}
.combo-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: stretch;
	.combo-item {
		flex:1;
	}
	.perk {
		flex: 3;
	}
}
.perk {
	font-size: .5rem;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	display: none; // hide by default
}

.show-perks {
	.perk {
		// display: none;
		display: initial;
	}
	td {
		width: $icon-size*3;
	}
}
