@import '../config/variables';

.item-container {
	font-size: inherit;
	max-height: 1em;

	// @media all and (max-width: $break-l) {
	// 	font-size: $icon-size * 0.8;
	// }
}
.item {
	@extend .sizer;
	// margin: $item-pad 0 0 $item-pad;
	margin: .25rem;

	&:not(.inv-item) {
		flex: 0 1;
		display: flex;
		width: 100%;
		height: 100%;
	}
	&:hover,
	&:focus {
		.tiny {
			opacity: 1;
		}
	}
}

.item-img {
	font-size: inherit;
	max-height: 1em;
	max-width: 1em;
	&.tiny {
		font-size: 0.5em;
		opacity: 0.5;
	}
}

.items-container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	font-size: 2rem;
}
.items-sec {
	width: 100%;
	padding: 1rem;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin: 0 auto;
}

// Base Selection Panel ====================
.base-select-panel {
	display: flex;
	flex-direction: row;
	max-height: 12rem;
	padding: 0;	
	// if at bottom of page, position higher
	// align-items: flex-start;
	// justify-content: flex-start;
	// padding-top: 2rem;

	// if at TOP of page.....
	max-height: 10rem;
	align-items: flex-end;
	justify-content: flex-end;
	// padding-bottom: 2rem;
	padding: 2rem 0;


	@media all and (max-width: $break-s) {
		&.items-sec {
			padding: 1rem 0.5rem;
		}
		.item {
			margin: 0;
		}
		.items-container {
			// margin-left: $item-pad;
			justify-content: space-between;
		}
	}
}

// Inventory ==============================
.inventory {
	// display: flex;
	// flex-direction: row;
	// flex-wrap: wrap;
	&.empty-inv {
		// flex: 0;
		display: none;
	}

	.combo-hovered {
		.item {
			opacity: 0.2;
		}
		.ingredient {
			opacity: 1;
			// outline: 2px solid yellow;
		}
	}
}

// Combos ===================================
.combos {
	min-height: 2rem;
	padding-bottom: 4rem;
	.items-container {
		flex-wrap: wrap;
	}

}
.combo-item {
	position: relative;
	.help-container {
		position: absolute;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		// justify-content: center;
		bottom: 100%;
		width: 100%;
		.item-img {
			width: 50%;
			height: initial;
		}
	}
	.help {
		font-size: 0.8rem;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1.25;
		text-align: center;
		color: $fg-secondary;
	}
}
.combo-tip {
	position: absolute;
	z-index: $z-above+1;
	// below centered
	top: 100%;
	left: 50%;
	transform: translate(-50%, 0%);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: stretch;

	// center centered
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%,-50%);
	font-size: .8rem;
	padding: .5rem 1rem;
	// width: 15em;
	max-width: 50vw;
	width: 300px;
	border-radius: 4px;
	background-color: #fff;
	color: $fg-primary;
	.item-img {
		@extend .sizer;
		// flex-basis: 1em;
		margin-right: 1rem;
	}
}

.spotlight-overlay {
	background-color: rgba(#000, 0.2);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.spotlight {
	position: absolute;
	z-index: $z-above+100;
	display: flex;
	// flex-direction: row;
	// align-items: center;
	// justify-content: stretch;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); // center centered

	padding: 1rem 2rem;
	// width: 320px;
	max-width: 400px;
	border-radius: 4px;
	font-size: 1rem;
	background-color: #fff;
	color: $fg-primary;
	&.hidden {
		display: none;
	}

	.item-img {
		@extend .sizer;
		margin-right: 1rem;
	}

	.formula {
		> * {
			margin: 0.25rem;
		}
		.combo-icon {
			// font-size: inherit;
			font-size: 1em;
			width: 1em; // set equal to modified font-size
			height: initial;
		}
		.operator {
			font-size: 1.5rem;
			margin: 0 1.5rem;
			color: $icon-inactive;
		}

		.ingredient-icon {
			font-size: .75em;
		}
	}
	// .asdfasdfasdf {
	// 	margin: 0;
	// }
}

// Cheat sheet =========================
.big-img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	// max-width: 2000px;
	// width: 100%;
	// height: initial;
	// max-height: 60vh;
	img {
		width: 100%;
		height: initial;
		// max-height: inherit;
		// max-height: 90vh;
		// height: 100%;
		// height: inherit;
		// height: initial;
		// width: 100%;
		// width: initial;
	}
}

.detailed-combo {
	@extend .sizer;
	display: flex;
	flex-direction: row;
	background-color: rgba(#000, 0.1);
	min-width: 260px;
	max-width: 320px;
	max-height: 1em;
	margin: 0.25rem;
	transition: all .2s;


	.combo-item {
		margin: 0;
		width: 33%;
	}
	.details {
		flex: 1;
		color: $fg-light-secondary;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.detail-text {
		// font-size: .2em;
			text-transform: uppercase;
			font-size: .16em;
			font-weight: 700;
			color: $fg-light-secondary;
			color: $fg-light-disabled;
			color: rgba(#fff,.66);
			line-height: 1.2;
			flex:1;
			letter-spacing: -0.06em;
		padding: .5rem;
		// padding-left: .75rem;
	}

	.ingredients {
		display: flex;
		flex-direction: column;
		// margin-left: .5rem;
		.item-img {
			opacity: 0.6;
			height: 50%;
			width: initial;
		}
	}


	&:hover,&:focus {
		background-color: rgba(#000,0.5);
		.detail-text {
			color: $fg-light-primary;
		}
		.ingredients {
			.item-img {
				opacity: 1;
			}
		}
	}
}

.col-container {
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 60vh;
	width: 100%;
}
.row-container {
	flex-direction: row;
	flex-wrap: wrap;
	// max-height: 60vh;
	width: 100%;
	margin: 0 auto;
	.detailed-combo {
		flex-basis: 33%;
	}
}