@import "./config/variables";

* {
	box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
	font-size: 16px;
	background-color: #fff;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	min-height: 100vh;

}


body {
	margin: 0;
	min-height: inherit;
	height: 100%;
	width: 100%;
	overflow: auto;
}

#root {
	min-height: inherit;
	height: 100%;
}

.page-root {
	min-height: inherit;
	height: 100%;
}

.flex-kids { 
	> * {
		flex: 1;
	}
}

.sec-title {
	position: absolute;
	top: .5rem;
	right: .5rem;
}

.eyebrow {
	font-size: .75rem;
	text-transform: uppercase;
	color: $fg-light-disabled;
	font-weight: 600;
	letter-spacing: .15em;
	word-spacing: .15em;
}

.footer {
	a {
		color: $fg-light-secondary;
		text-decoration: none;
		font-size: .9rem;
		
		&:hover,&:focus {
			color: $fg-light-primary;
			text-decoration: underline;
		}
	}
}