@import "./config/variables";

* {
	box-sizing: border-box;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
}

html {
	font-size: 16px;
	background-color: #fff;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	min-height: 100vh;

}


body {
	margin: 0;
	min-height: inherit;
	height: 100%;
	width: 100%;
	overflow: auto;
}
main {
	min-height: 100vh;
	max-width: 100vw;
	> * {
		max-width: inherit;
	}
}
#root {
	min-height: inherit;
	height: 100%;
}
.page-root {
	min-height: inherit;
	height: 100%;
}



.flex-kids { 
	> * {
		flex: 1;
	}
}
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

//=======================================
.btn {
	outline: 2px solid red;
	background-color: rgba(#fff,0.5);
	color: #fff;
	padding: 1rem;
	border-radius: .5rem;
	font-size: 1rem;
}
//=======================================
.sec-title {
	position: absolute;
	top: .5rem;
	// bottom: .5rem;
	right: .5rem;

	&.icon-title {
		top: unset;
		left: unset;
		bottom: .5rem;
		right: .5rem;

		color: $fg-light-secondary;
		color: $fg-light-disabled;
		color: $fg-light-divider;

		transition: all 0.2s;
		&:hover {
			color: $fg-light-primary;
		}
	}
}

//=======================================
.eyebrow {
	font-size: .75rem;
	text-transform: uppercase;
	color: $fg-light-disabled;
	font-weight: 600;
	letter-spacing: .15em;
	word-spacing: .15em;
}

// Footer =======================================
.footer {
	padding: 1.5rem 1rem 8rem 1rem;
	// padding-bottom: 8rem;
	a {
		color: $fg-light-secondary;
		text-decoration: none;
		font-size: .9rem;
		
		&:hover,&:focus {
			color: $fg-light-primary;
			text-decoration: underline;
		}
	}

	.col {
		max-width: 360px;
		min-width: 240px;
		padding: 1rem;
		flex-basis: 33%;
		// outline: 1px solid red;
	}
}
// Cheat sheet =========================
.big-img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: 100%;
		height: initial;
	}
}

// React Switch =====================
// .react-switch-container {
// 	display: flex;
// 	flex-direction: row;
// 	align-items: center;
// 	justify-content: flex-start;
// 	label {
// 		margin: 0;
// 		margin: 0 .5rem;
// 	}
// }
.react-switch-bg {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	line-height: 24px;
	// In switch checked,unchecked icons
	div:not(.react-switch-handle){
		flex: 1;
		width: 24px !important;
		max-width: 24px !important;
		padding: 0 2px;
		font-size: 1rem;
		// font-size: 0.8rem; // for info icon (not circle)
		text-align: center;
		color: #fff;
	}
}
